<h2 class="text-4xl font-bold text-center mb-3">Recover your password</h2>

<div class="max-w-[800px] mx-auto">
    <p>Submit your email down bellow. If we have it in our database, we will email you the next steps.</p>
    <div class="my-4 w-full block">
        <label>Email</label>
        <input type="email" [formControl]="email" matInput required class="block w-full border px-3 py-1 rounded">
    </div>
    <div class="flex gap-12">
        <button class="block w-full bg-green-500 text-white hover:bg-green-600 shadow px-3 py-1 rounded" [routerLink]="['/auth', 'login']">Go Back Login</button>
        <button class="block w-full bg-green-500 text-white hover:bg-green-600 shadow disabled:bg-gray-300 px-3 py-1 rounded" [disabled]="email.invalid" (click)="onSubmit()">Submit</button>
    </div>
</div>

