<div class="overflow-hidden bg-[#333]" id="myTopnav">
    <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#home" class="active">Home</a>
    <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#news">News</a>
    <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#contact">Contact</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#">Link 1</a>
            <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#">Link 2</a>
            <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#">Link 3</a>
        </div>
    </div>
    <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="#about">About</a>
    <a class="float-left block text-[#f2f2f2] text-center px-4 py-3 text-lg" href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>