<div class="max-w-[800px] mx-auto">
    <h2 class="text-center text-4xl font-bold">Reset your password</h2>
    <div>
        <div class="w-full my-3">
            <label>Email</label>
            <input type="email" [formControl]="email" class="border rounded block w-full px-3 py-1">
        </div>
        <div class="w-full my-3">
            <label>New Password</label>
            <input type="password" [formControl]="password" class="border rounded block w-full px-3 py-1">
        </div>
        <div class="w-full my-3">
            <label>Confirm Your Password</label>
            <input type="password" [formControl]="confirmation" class="border rounded block w-full px-3 py-1">
        </div>
        <div class="flex gap-3 flex-col my-3">
            <button class="rounded bg-green-500 hover:bg-green-600 text-white px-3 py-1" (click)="onSubmit()" [disabled]="loading || (email.invalid && password.invalid) || password.value !== confirmation.value" type="submit">Save</button>
            <button class="rounded bg-teal-500 hover:bg-teal-600 text-white px-3 py-1" type="button" routerLink="/auth/login">Sign In Instead</button>
        </div>
    </div>
</div>

