@if (profile) {
    <div class="h-[100vh] hero-container">
    </div>
    <div class="max-w-[1200px] mx-auto">
        <h2 class="text-4xl text-bold">Sobre Nosotros</h2>
        <div>
            <p>{{ profile.description }}</p>
        </div>
    </div>
} @else {
    <div class="min-h-[100vh] flex justify-center items-center">
        <div>
            Este software aun no ha sido configurado. <a class="text-blue-500 underline" href="/auth/login">Indentifiquese</a> para continuar con la configuraci&oacute;n.
        </div>
    </div>
}